<div>
    <h2>Profile</h2>
    <div>{{data.statement}}</div>

    <h2>Skills</h2>
    <ul class="list-unstyled">
        <li ng-repeat="skill in data.skills">
            <span class="glyphicon glyphicon-minus darkgreen">&nbsp</span>
            <span>{{skill}}</span>
        </li>
    </ul>

    <h2>Technology</h2>
    <div class="row">
        <div ng-repeat="category in getTechCategories()" class="col-lg-2 col-md-lg-3 col-sm-4 col-xs-6">
            <h4>{{category}}</h4>
            <div ng-repeat="tech in getTech(category) | orderBy : rank">{{tech.name}}</div>
        </div>
    </div>

    <h2>Experience</h2>
    <div ng-repeat="job in data.workHistory">
        <div ng-include="'app/views/EmployerLogo.html'" class="hidden-md hidden-lg"></div>
        <div>
            <span ng-include="'app/views/EmployerLogo.html'" class="hidden-sm hidden-xs"></span>
            <span class="darkgreen hidden-sm hidden-xs">&nbsp&nbsp|&nbsp&nbsp</span>               
            <strong >{{job.title}}</strong>
            <span class="darkgreen">&nbsp&nbsp|&nbsp&nbsp</span>
            <span> {{job.startDate | date: 'MMM yyyy'}} - {{job.endDate | date: 'MMM yyyy'}} </span>
        </div>
        <ul class="list-unstyled">
            <li ng-repeat="item in job.responsibilities">
                <span class="glyphicon glyphicon-minus darkgreen">&nbsp</span>
                <span class="">{{item}}</span>
            </li>
        </ul>
        <br>
    </div>
    <h2>Education</h2>
    <div ng-repeat="school in data.education">
        <div ng-include="'app/views/SchoolLogo.html'" class="hidden-md hidden-lg"></div>
        <div>
            <span ng-include="'app/views/SchoolLogo.html'" class="hidden-sm hidden-xs"></span>
            <span class="darkgreen hidden-sm hidden-xs">&nbsp&nbsp|&nbsp&nbsp</span>
            <strong>{{school.degree}}, Minor in {{school.minor}}</strong>
            <span>{{school.institution.city}}, {{school.institution.state}} ... {{school.graduationDate | date: 'MMM yyyy'}}</span>
        </div>
    </div>
</div>